@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root{
    --primary-color: #7159c1;
}

*{
    margin: 0;
    padding: 0;
}

header{
    width: 100%;
    padding: 32px;
    background-color: rgb(49, 245, 98);
    /* background: white; */
    text-align: center;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-image: linear-gradient(to right,rgb(0, 43, 236),rgb(0, 255, 255));
    /* background-color: var(--primary-color) */
}

.links {
    font-size: 22px;
}

.links a + a {
    margin-left: 32px;
}

.links a {
    text-decoration: none;
    position: relative;
}

.link a.active {
    font-weight: bold;
    color: var(--primary-color);
}

.links a:hover{
    color: var(--primary-color);
}

.links a::after{
    content: "";
    width: 0;
    height: 2px;
    background-color: var(--primary-color);
    position: absolute;
    left: 0;
    bottom: -4px;
}
.links a:hover::after{
    width: 100%;
    transition: width 200ms ease-in-out;
}